.alert {
  .alert {
    padding: 20px;
    overflow: auto;
    border-radius: 5px;
    p {
      width: 98%;
      float: left;
      margin: 0;
    }
  }
  .green {
    border: 1px solid #0c630c;
    background: #adf9ad;
  }
  .fi-x {
    width: 2%;
    float: right;
  }
}