@import "libs/foundation";
@import "stepbystep";
@import "piano";

object {height:1px;}
object object {height: 0px;}

#device_options {
  color:white
}

.step-by-step-style-one {
  ul {
    list-style-type: none;
  }
}