<nav class="top-bar">
    <ul class="title-area large-8">

        <li class="name">
            <h1>
                <a href="#">
                    Keysperience
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section id="device_options" class="top-bar-section large-4">
        Select your device:

        <!-- dropdown menu for selecting a MIDI input -->
        <select id="inputs" class="large-1"></select>

        <!-- dropdown menu for selecting a MIDI output -->
        <select id="outputs" class="large-1"></select>
    </section>
</nav>