<nav class="top-bar">
    <ul class="title-area large-8">

        <li class="name">
            <h1>
                <a href="#">
                    Keysperience
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
</nav>