
<div class="row step-by-step-style-one">
    <h2>Notes:</h2>
    <ul class="small-12 columns">
        <li class="path-item">
            <div class="circlenumber">
                <h3>1</h3>
            </div>
            <p>DIY selvage laboris normcore voluptate, actually farm-to-table aliqua kitsch velit selfies tote bag Odd Future you probably haven't heard of them single-origin coffee. Neutra drinking vinegar readymade, asymmetrical do whatever photo booth. </p>
        </li>
        <li class="path-item">
            <div class="circlenumber">
                <h3>2</h3>
            </div>
            <p>Lo-fi Portland occaecat art party, seitan sint direct trade eiusmod cliche labore salvia. Sustainable freegan art party biodiesel cliche adipisicing. Labore Godard in selvage organic, fashion axe whatever. Master cleanse irony aesthetic, fugiat Tumblr readymade tofu hashtag nostrud XOXO post-ironic seitan Shoreditch. Excepteur meggings Neutra Wes Anderson sriracha.</p>
            <p class="panel">Plaid hella banjo mlkshk nihil, et velit McSweeney's occaecat viral proident next level. Swag 90's nesciunt, wayfarers hoodie raw denim Blue Bottle Kickstarter Vice cupidatat normcore pop-up flannel fugiat fanny pack.</p>
        </li>
        <li class="path-item">
            <div class="circlenumber">
                <h3>3</h3>
            </div>
            <p>Gluten-free shabby chic normcore, Brooklyn keffiyeh veniam chia Shoreditch. Laborum aliquip fap Godard ethnic, American Apparel ad ex farm-to-table kogi ullamco. Chia sriracha scenester hella.</p>
        </li>
    </ul>
</div>
